# App
NODE_ENV=development
PORT=3000

APP_BASE_URL=https://localhost

# Namespace for AJAW REST API Petitions
AJAW_NAMESPACE=

# Model names
MODEL_NAME_COMPANIES=
MODEL_NAME_PEOPLE=

# Axelor
AXELOR_BASE_URL=
AXELOR_LOGIN_PATH=/login.jsp
AXELOR_USERNAME=
AXELOR_PASSWORD=

# Leads Database
LEADS_DB_BASE_URL=

# Leads EndPoints
LEADS_DB_ALL=dbs
LEADS_DB_EXPORT=companies

# Query Params
LEADS_DB_QP_KEYS=[db, table, format, key, limit, offset, has_phone, has_email]
LEADS_DB_QP_KEY_VALUE=
LEADS_DB_PAGE_LIMIT=50

# Security
INTERNAL_API_KEY=

# Observability
LOG_LEVEL=info

AXELOR_ALLOW_INSECURE_TLS
NODE_EXTRA_CA_CERTS = 